@import url("reset.css");
@import url("font.css");

ul li {
  margin-top:1%;
  border:2px solid black;
  border-top-width: thin;
  border-bottom-width: thin;
  border-right-width:thin;
  border-left-width:thin;
  display: inline-block;
  justify-content:space-around;
  width:10%;
  margin-left: 8%;
  text-align:center;
  margin-bottom:1%;
  background-color:#FFFF;
  height:20px;
}

textarea{
  resize:none;
}
