@import url("reset.css");
@import url("font.css");

/* HEADER MENU */

ul li#headeur a{
  margin-top:1%;
  border:2px solid black;
  border-top-width: thin;
  border-bottom-width: thin;
  border-right-width:thin;
  border-left-width:thin;
  justify-content:space-between;
  float:left;
  width:20%;
  text-align: center;
  text-decoration: none;
  color:#000;
  padding: 15px 0;
  border-left: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  margin-left:150px;
  background-color:#98FB98;
}

ul#headeur {
  background-color:black;
}
nav#menu {
  background-color:white;
  color:white;
}

ul li#headeur:hover a{
  background-color: #E6FE64;
  text-decoration:none;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

/* CSS POUR LE CV */

p#formation {
  padding-left: 150px;
  padding-right:10px;
}

p#qui {
  padding-left:350px;
  padding-right:350px;
}

textarea{
  resize:none;
}

h1#cv {
  display:flex;

}

#wrap {
  width:900px;
  margin-left:auto;
  margin-right:auto;
}

#left, #right {
  width:40%;
 position:absolute;
  top: 0;
}

#laft, #raght {
  width: 80%;
  position:absolute;
  top: 50%;
  z-index:1;
  margin-left:10%;
}

h2#photo {
  text-align: center;
}

p#comp {
  margin-right:60%;
  text-align:center;
}

p#formation {
  margin-right: 60%;
  font-style:italic;
}

p#nfacto {
  margin-right:65.95%
}

p#atude {
  margin-right:74.3%;
}

p#etude {
  margin-right:68.2%;
}

p#etudes {
  margin-right: 75.6%;
}

h2#qualite {
  margin-left:0%;
}

#left {
  left: 0;
}

#center {
  justify-content:center;
}

h1#cv {
margin-top:150px;
background-color: #021f63;
color: #fff;
font-size:1.8em;
font-weight: bold;
text-transform: uppercase;
text-align: center;
justify-content: center;
align-items:center;
width:40%;
height:70px;
vertical-align: middle;
display:flex;
}

#header p {
  align-items:center;
}

#header p {
  float: right;
  font-size: 1em;
  font-style: bold;
  justify-content:center;
}

/*#header img {
  margin-left:34%;
  max-height: 300px;
  max-width: 300px;
  width: 300px;
  height: 300px;
  align-items:justify;
  justify-content:justify;
}*/

p#loisirs {
color:black;
margin-right:60%;
text-align:inherit;
}

div#flex {
 justify-content:center;
}

div#comp {
  justify-content:center;
}

p#comp {
  font-style:italic;
  margin-left:80%;
}

p#langue {
  font-style:italic;
  margin-right: 60%;
  text-align: justify;
}

p#propos {
  margin-right:60%;
  text-align:justify;
}

div#titre {
  justify-content:space-between;
}

h1#p {
  font-style:italic;
}

#left {
  margin-top:0%;
  margin-left:15%;
}

#right {
  margin-left:50%;
}

#laft {
  margin-left:60%;
}

/* CSS POUR L'ACCUEIL*/

body {
background-color:lightblue;
}

div#qui {
  padding:
}

/* CSS POUR LE FORMULAIRE DE CONTACT*/

form {
  padding: 20px;
  display:flex;
  justify-content: center;
}

legend {
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

textarea#msg {
  resize:none;
  width:300px;
  height:150px;
}

footer {
  text-align:right;
}

form div {
  padding: 10px 0;
}

form div label {
  float:left;
  width:200px;
  text-align:right;
}

form div input[type="submit"] {
  background-color:white;
  color:black;
  margin: 0 0 0 250px;
}

form textarea {
  font-family: Arial, Verdana, sans-serif;
}

form fieldset {
  outline: 2px solid white;
}

/* CSS UNIVERSEL */

div#header {
  text-align:center;
  background-color:#E6FE64;
  padding:25px 0 ;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:100px;
}
