@import url("reset.css");
@import url("font.css");

ul li#header {
  margin-top:2%;
  border:2px solid black;
  border-top-width: thin;
  border-bottom-width: thin;
  border-right-width:thin;
  border-left-width:thin;
  display: inline-block;
  justify-content:space-around;
  width:10%;
  margin-left: 17%;
  text-align:center;
  margin-bottom:1%;
  background-color:#FFFF;
  height:20px;
}

textarea{
  resize:none;
}

header h1 {
  display:flex;

}

#wrap {
  width:900px;
  margin-left:auto;
  margin-right:auto;
}

#left, #right {
  width:40%;
 position:absolute;
  top: 0;
}

#laft, #raght {
  width: 80%;
  position:absolute;
  top: 50%;
  z-index:1;
  margin-left:10%;
}

h2#photo {
  text-align: center;
}

p#comp {
  margin-right:60%;
  text-align:center;
}

p#formation {
  margin-right: 60%;
  font-style:italic;
}

p#nfacto {
  margin-right:65.95%
}

p#atude {
  margin-right:74.3%;
}

p#etude {
  margin-right:68.2%;
}

p#etudes {
  margin-right: 75.6%;
}

h2#qualite {
  margin-left:0%;
}

#left {
  left: 0;
}

#center {
  justify-content:center;
}

#header h1 {
margin-top:150px;
background-color: #021f63;
color: #fff;
font-size:1.8em;
font-weight: bold;
text-transform: uppercase;
text-align: center;
justify-content: center;
align-items:center;
width:40%;
height:70px;
vertical-align: middle;
display:flex;
}

#header p {
  align-items:center;
}

#header p {
  float: right;
  font-size: 1em;
  font-style: bold;
  justify-content:center;
}

/*#header img {
  margin-left:34%;
  max-height: 300px;
  max-width: 300px;
  width: 300px;
  height: 300px;
  align-items:justify;
  justify-content:justify;
}*/

p#loisirs {
color:black;
margin-right:60%;
text-align:inherit;
}

div#flex {
 justify-content:center;
}

div#comp {
  justify-content:center;
}

p#comp {
  font-style:italic;
  margin-left:80%;
}

p#langue {
  font-style:italic;
  margin-right: 60%;
  text-align: justify;
}

p#propos {
  margin-right:60%;
  text-align:justify;
}

div#titre {
  justify-content:space-between;
}

h1#p {
  font-style:italic;
}

#left {
  margin-top:0%;
  margin-left:15%;
}

#right {
  margin-left:50%;
}

#laft {
  margin-left:60%;
}

body {
background-color:#98FB98;
}

form {
  padding: 20px;
  display:flex;
  justify-content: center;
}

legend {
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

div#provenance {
  text-align:center;
}

textarea#msg {
  resize:none;
  width:300px;
  height:150px;
}

textarea#psw {
  resize:none;
}

h1 {
text-align:center;
background-color:#98FB98;
margin-top:1%;
}

footer {
  text-align:right;
}

form div {
  padding: 10px 0;
}

form div label {
  float:left;
  width:200px;
  text-align:right;
}

form div input[type="submit"] {
  background-color:white;
  color:black;
  margin: 0 0 0 250px;
}

form textarea {
  font-family: Arial, Verdana, sans-serif;
}

form fieldset {
  outline: 2px solid white;
}
